.fishList {
    background-color: #cccccc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.fish {
    background-color: #666666;
   
}


.fish__picture {
    max-width: 15rem;
    max-height: 15rem;
}