.locationList {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.location {
    background-color: white;
}


.location__picture {
    max-width: 10rem;
    max-height: 10rem;
}