.locationList {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.location {
    background-color: white;
}

.header--locations {
    margin: 0;
    padding: 0;
    background-color: #BADCA7;
}

.location__details {
    padding: 1rem;
}

.location__picture {
    max-width: 10rem;
    max-height: 10rem;
}